__pycache__/
.vscode/
.git
*.yaml
*.zip
!.gitkeep
!db/
db/*
!db/chest_xray/
db/chest_xray/*
!db/chest_xray/test/
db/chest_xray/test/*
!db/chest_xray/test/.gitkeep
!src/models/*.yaml
assets/grad_cam/*
!assets/grad_cam/.gitkeep