torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cu129

matplotlib
notebook
numpy
nvidia-cudnn-cu12
scikit-learn
tqdm
opencv-python       # filtros, transformacoes e segmentacao
scikit-image        # segmentacao avancada
pillow              # IO de imagens e operacoes basicas
albumentations      # augmentacao para ML
