torch
torchvision
--extra-index-url https://download.pytorch.org/whl/cu129

matplotlib
notebook
numpy
nvidia-cudnn-cu12
scikit-learn
tqdm

OpenCV,              filtros, transformacoes e segmentacao
scikit-image,        segmentacao avancada
Pillow (PIL),        IO de imagens e operacoes basicas
albumentations,      augmentacao para ML
numpy,               manipulacao de arrays